@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100%;
  height: max-content;
  margin: 50px 20px 30px 0;
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%);
  padding-top: 3%;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color:  hsl(0, 0%, 12%);
    width: 25%;
    gap: 25px;
    padding: 2%;
    border-radius: 20px;
}
.image1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 50%;
    height: 88px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text h2,span{
    color: hsl(0, 0%, 100%);
}
.text h2{
    font-weight: 600;
    padding-bottom: 10px;
}
.text span{
    font-size: 14px;
}
.text p{
    color: hsl(75, 94%, 57%);
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.buttons button{
    width: 90%;
    height: 45px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    border: none;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}
.buttons button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}